.skill {
    max-width: 170px;
    /*height: 40px;*/
    margin: 5px 15px 5px  5px;
    border-radius: 5px;
    display: inline-block;

}
.content{
    background-color: white;
    /*width: auto;*/
    border-radius: 5px;
    padding:  5px 6px 0px 6px;
    /*height: 40px;*/
}
